@import "../../styles/variables";

.ApartmentPage{
  color: $primary-color;
  margin-inline: 100px;
  margin-bottom: 60px;
}
.infoGenerales{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px
}
.descriptionApartment{
  display: flex;
  flex-direction: column;
  width:70%;
}
.apartTitle{
  font-size: 36px;
  font-weight: 500;
  margin:0
}
.apartCity{
  font-size: 18px;
  font-weight: 500;
  margin:0;
  margin-bottom:20px;
}
.descriptionproprio{
  display: flex;
  flex-direction: column;
  width:auto;
}
.infoProprio{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.nameproprio{
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
.nameproprio p{
  margin:0;
  margin-bottom: 5px;
}
.headProprio{
  border-radius: 50%;
  width: 64px;
}
.infoSecondaires{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
  gap: 3%;
}
@media screen and (width <= $screen-tablet) {
  .ApartmentPage{
    margin-inline: 20px;
  }
  .infoGenerales{
    flex-direction:column;
  }
  .descriptionApartment{
    margin-bottom: 20px;
    width: 100%;
  }
  .descriptionproprio{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .infoSecondaires{
    flex-direction: column;
  }
}
@media screen and (width<=540px) {
  .descriptionproprio{
    flex-direction: column;
    gap: 10px;
  }
}