.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 40px;
  margin-inline: 100px;
  }

.navbar__link{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
}
.navbar__link a{
  color: #FF6060;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.navbar__link a:hover{
  text-decoration: underline;
}
.navbar__link a.active{
  text-decoration: underline;
}
@media screen and (width <= 768px){
  .navbar{
    margin: 20px;
  }
  .navbar__link{
    gap: 6px;
  }
}
@media screen and (width <= 480px) {
  .navbar{
    flex-direction: column;
  }
}