@import "../styles/variables";

.apartmentcard{
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  :hover{
    scale: 1.02;
  }
}
.apartmentcard a{
  position: relative;
  width: 340px;
  height: 340px;
  
}

.apartmentcard img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.tittleApartmentCard{
  position: absolute;
  margin: 0;
  bottom: 7%;
  left: 17px;
  max-width: 70%;
  color: $secondary-color;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
}
@media screen and (width <= $screen-mobile) {
  .apartmentcard a{
    width: 250px;
    height: 250px;
  }
  .tittleApartmentCard{
    top: 180px;
    max-width: 92%;
  }
}
@media screen and (width > $screen-mobile) and (width <= $screen-tablet) {
  .apartmentcard a{
    width: 100%;
    height: 255px;
  }
}
@media screen and (width>1440px) {
  .apartmentcard{
    width: 30%;
    align-items: center;
  }
  .apartmentcard a{
    width: 100%;
  }
}