@import "../styles/variables";

.carouselCard{
  position: relative;
  height: 415px;
  margin-bottom: 24px;
}
.drop{
  position: absolute;
  top: 35%;
  cursor: pointer;
  height: 25%;
}
.left{
  left: 1%;
}
.right{
  right: 1%;
}
.carouselImage img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.4s;
}

.carouselImage img.show {
  opacity: 1;
}
.counterimage{
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  top: 80%;
  left: 50%;
  color: $secondary-color;
}
@media screen and (width < $screen-tablet) {
  .drop{
    height: 18%;
  }
}
