.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 480px;
  height: 480px;
  z-index: 100;
}
.loader:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FF6060;
  border-color: #FF6060 transparent #FF6060 transparent;
  animation: rotation 1.2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}