@import "../../styles/variables";

.error{
  margin: 0 100px; 
}
@media screen and (width <= #{$screen-tablet}){
  .error{
    margin: $margin-screen-tablet;
  }
}

.cardError{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 140px;
}

.imgageError{
  width: 80%;
}

.textError{
  color:  $primary-color;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}